<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".datewise"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Gps"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".leave"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Employee_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP_Verify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Verify_NO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_Option"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flash_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View_Attendance"
            android:screenOrientation="portrait" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>